@import "./theme.scss";

.aboutContainer {
  width: 480px;
  max-width: 100%;
  height: auto;
  margin: auto;
  background: $bg1;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  text-align: left;
  p {
    padding: 10%;
    padding-bottom: 16%;
  }
  margin-bottom: 180px;
}
