@import "./theme.scss";

.appRoot {
    position: absolute;
    width: 100%;
    background-image:
        url("../img/bg-full.jpg");
    background-size: contain; /* Resize the background image to cover the entire container */
    background-repeat: repeat-x;
    color: $fg0;
    text-align: center;
    .headerContainer {
        margin-right: auto;
        margin-left: auto;
        display:inline-block;
    }
    h1 {
        padding: 8px;
        color: $fg0;
        font-size: 48px;
        background: #000000aa;
        display: inline-block;
        margin-right: 80px;
        backdrop-filter: grayscale(1);
        backdrop-filter: blur(6px);
        user-select: none;
    }
    h2 {
        padding: 8px;
        color: $bg0;
        margin-left: 80px;
        display: block;
        font-size: 36px;
        background: #BA9C9Aaa;
        margin-bottom: 100px;
        user-select: none;
    }
}

.appContent-main {
    backdrop-filter: blur(10px);
    background: transparent; 
    height: 100%;
    text-align: center;
}
@-moz-document url-prefix() {
    .appContent-main {
        background: $bg0;
        /*background: rgb(12,34,40);
        /* background: linear-gradient(0deg, rgba(12,34,40,1) 0%, rgba(12,34,40,0.9929058837890625) 47%, rgba(12,34,40,0.6964352955537684) 100%); */
    }
}

@media only screen and (max-width: 1024px){
    #appRoot {
        background-size: 1024px auto;
    }
}

