@import "./theme.scss";

.navBar {
    width: 74%;
    margin: auto;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
    flex-direction: row;
    @media screen and (max-width: $small) {
        flex-direction: column;
    }
    &::-webkit-scrollbar {
        display: none;
    }
    h3 {
        width: 100%;
        max-width: 300px;
        font-size: 48px;
        text-align: left;
        user-select: none;
        display: table-caption;
    }
}
.overflowIndicator {
    height: 100%;
}
.buttonsContainer {
    font-size: 1.2em;
    display: flex;
    width: 80%;
    flex-direction: row;
    @media screen and (max-width: $tiny) {
        flex-direction: column;
    }
    justify-content: space-around;
    a {
        color: $fg0;
        text-decoration: none;
        user-select: none;
        padding: 20px;
          transition: all 0.2s;

    }
    a:hover {
        transform: scale(1.2)
    }
}
