@import "./theme.scss";

.navBar {
    width: 74%;
    margin: auto;
    display: flex;
    align-items: center;
    h3 {
        font-size: 48px;
        min-width: 300px;
        text-align: left;
        user-select: none;
        display: inline;
        left: 0px;
    }
}
.buttonsContainer {
    font-size: 1.2em;
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-around;
    a {
        color: $fg0;
        text-decoration: none;
        user-select: none;
    }
}
